<footer id="footer" class="footer">
  <div class="container">
     <div class="row">
        <div class="col-md-4">
           <div class="full">
              <div class="footer-widget">
                 <div class="footer-logo">
                    <a href="#"><img src="images/footer-logo.png" alt="#" /></a>
                 </div>
                 <p>{{site.description}}</p>
                 <ul class="social-icons style-4 pull-left">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                 </ul>
              </div>
           </div>
        </div>
        <div class="col-md-2">
           <div class="full">
              <div class="footer-widget">
                 <h3>Menu</h3>
                 <ul class="footer-menu">
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="equipo.html">Equipo</a></li>
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="matche.html">Partidos</a></li>
                    <li><a href="blog.html">Blob</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                 </ul>
              </div>
           </div>
        </div>
        <div class="col-md-3">
           <div class="full">
              <div class="footer-widget">
                 <h3>Contacto</h3>
                 <ul class="address-list">
                    <li><i class="fa fa-map-marker"></i> {{site.address}}</li>
                    <li><i class="fa fa-phone"></i> {{site.phone}}</li>
                    <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i>{{site.email}}</li>
                 </ul>
              </div>
           </div>
        </div>
        <div class="col-md-3">
           <div class="full">
              <div class="contact-footer">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13479.870995928923!2d-117.0614795!3d32.3664107!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8c1a436fe6ca20d1!2sAuditorio%20Municipal%20Lic.%20Ernesto%20Ruffo%20Appel%2C%20Hacienda%20Floresta%20del%20Mar%2C%2022703%20Rosarito%2C%20B.C.!5e0!3m2!1ses-419!2smx!4v1632440787182!5m2!1ses-419!2smx" width="600" height="350" frameborder="0" style="border:0" allowfullscreen loading="lazy"></iframe>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="footer-bottom">
     <div class="container">
        <p>Copyright © 2021 {{site.title}} .Todos los derechos reservados.</p>
        <p><a href="https://rosaritocentro.com/" title="Rosaritocentro.com es un patrocinador oficial de {{site.title}}">Rosaritocentro.com</a></p>
     </div>
  </div>
</footer>
<a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
<script src="js/all.js"></script>
<script src="js/custom.js"></script>