<!DOCTYPE html>
<html lang="en">
<head>
   {% include head.html %}
</head>

<body class="game_info" data-spy="scroll" data-target=".header">
   <!-- LOADER -->
   <div id="preloader">
      <img class="preloader" src="images/loading-img.gif" alt="">
   </div>
   <!-- END LOADER -->
   <section id="top">
      {% include header.html %}
      <div class="inner-page-banner">
         <div class="container">
         </div>
      </div>
      <!--div class="inner-information-text">
         <div class="container">
            <h3>{{page.title}}</h3>
            <ul class="breadcrumb">
               <li><a href="index.html">Inicio</a></li>
               <li class="active">{{page.title}}</li>
            </ul>
         </div>
      </div-->
   </section>
   <section id="contant" class="contant main-heading team">
      {{ content }}
   </section>
   {% include footer.html %}
</body>

</html>